<div>
  <!-- Comentado -->

  <!-- <form #form="ngForm" (ngSubmit)="create(form)">
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Nombre Curso</span>
      </div>
      <input
        type="text"
        placeholder="Type here"
        class="input input-bordered w-full max-w-xs"
        [(ngModel)]="createCourse.name"
        name="name"
        #name="ngModel"
      />
    </label>
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Nivel</span>
      </div>
      <select
        class="select select-bordered"
        [(ngModel)]="createCourse.level"
        name="level"
        #level="ngModel"
      >
        <option disabled selected>Nivel del Curso</option>
        <option>ENTRY</option>
        <option>INTERMEDIATE</option>
        <option>ADVANCE</option>
      </select>
    </label>

    <div class="flex flex-row">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Tecnología 1</span>
        </div>
        <input
          type="text"
          placeholder="Type here"
          class="input input-bordered w-full max-w-xs"
          name="techStack1"
          ngModel
        />
      </label>
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Tecnología 2</span>
        </div>
        <input
          type="text"
          placeholder="Type here"
          class="input input-bordered w-full max-w-xs"
          name="techStack2"
          ngModel
        />
      </label>
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Tecnología 3</span>
        </div>
        <input
          type="text"
          placeholder="Type here"
          class="input input-bordered w-full max-w-xs"
          name="techStack3"
          ngModel
        />
      </label>
    </div>

    <label class="form-control">
      <div class="label">
        <span class="label-text">Descriopción del curso</span>
      </div>
      <textarea
        placeholder="Bio"
        class="textarea textarea-bordered textarea-xs w-full max-w-xs"
        [(ngModel)]="createCourse.description"
        name="description"
        #description="ngModel"
      ></textarea>
    </label>
    <button class="btn">Crear</button>
  </form> -->
  <!--Comentado -->
  <!-- component -->
  <link
    rel="stylesheet"
    href="https://cdn.tailgrids.com/tailgrids-fallback.css"
  />

  <!-- ====== Contact Section Start -->
  <section class="bg-white overflow-hidden relative z-10 my-3">
    <div class="container">
      <div class="flex flex-wrap lg:justify-between -mx-4">
        <div class="w-full lg:w-1/2 xl:w-6/12 px-4">
          <!-- Información del curso -->
          <div class="night">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
          </div>
          <div class="max-w-[570px] mt-10 ml-10">
            <h2
              class="mt-8 text-dark mb-6 font-bold text-[32px] sm:text-text-2xl lg:text-text-3xl xl:text-3xl"
            >
              Crea un <span class="gradient-text">curso</span>
            </h2>
            <p class="text-base text-body-color leading-relaxed mb-9">
              En FirstClicks, creemos en el poder del aprendizaje compartido. Si
              tienes habilidades y conocimientos que deseas transmitir, estás en
              el lugar correcto. Crear un curso es una excelente manera de
              conectar con estudiantes apasionados, construir tu reputación y,
              por supuesto, ¡ayudar a otros a aprender algo nuevo!
            </p>
            <div *ngIf="imageUrl" class="mt-4">
              <img [src]="imageUrl" alt="Image Preview" class="preview-image" />
            </div>
            @if (this.courseExists) {
            <div class="mt-4">
              <img
                [src]="this.courseExists.coverPath || '' | apiImg"
                alt="curso"
                class="preview-image"
              />
            </div>
            }
          </div>
        </div>
        <div class="w-full lg:w-1/2 xl:w-5/12 lg:pr-10">
          <div class="bg-white relative rounded-lg p-8 sm:p-8 shadow-xl">
            <h1>@if(courseExists) { Editar o eliminar } @else { Crear } curso</h1>

            @if(errors.length) {
            <div class="mt-5 alert alert-danger text-error">
              <ul>
                @for (error of errors; track error) {
                <li>{{ error }}</li>
                }
              </ul>
            </div>
            }
            @if (courseExists) {
              <button (click)="deleteCourse()" class="btn mt-2 btn-outline">
                Eliminar
              </button>
              }
            <br />
            @if (form) {
            <form [formGroup]="form" (ngSubmit)="save()">
              <label class="form-control w-full max-w-xs">
                <div class="label">
                  <span class="label-text">Nombre del curso</span>
                </div>
                <input
                  type="text"
                  placeholder="Ejemplo: Curso de HTML"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  name="name"
                  formControlName="name"
                />
                <div
                  class="text-error"
                  [hidden]="
                    form.get('name')?.valid || form.get('name')?.pristine
                  "
                >
                  @if(form.get('name')?.errors?.["required"]) { El Nombre para
                  el curso es obligatorio }
                </div>
              </label>
              <label class="form-control w-full max-w-xs">
                <div class="label">
                  <span class="label-text">Nivel del curso</span>
                </div>
                <select
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  formControlName="level"
                  name="level"
                >
                  <option disabled selected>Nivel del curso</option>
                  <option>ENTRY</option>
                  <option>INTERMEDIATE</option>
                  <option>ADVANCE</option>
                </select>
              </label>

              <div class="flex flex-row items-center">
                <label class="form-control w-auto mr-2">
                  <div class="label">
                    <span class="label-text">Tecnologías</span>
                  </div>
                  <input
                    type="text"
                    placeholder="HTML..."
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    name="techStack2"
                    #techStack
                  />
                </label>
                <button
                  type="button"
                  class="mt-11 text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                  (click)="addTechStack(techStack)"
                >
                  Añadir
                </button>

                <!-- Se van poniendo los tags max 3 y se pueden eliminar -->
                <!-- @for (item of techs; track $index) {
                  <span
                    class="bg-white text-black text-xs font-bold leading-sm uppercase px-3 py-1 rounded-full border inline-flex items-center"
                  >
                    <input
                      type="text"
                      placeholder="{{ item }}"
                      class="w-full max-w-52 bg-white placeholder-black"
                      #tech
                      disabled
                      
                    />
                    <button
                      type="button"
                      class="inline-flex items-center p-1 ms-2 text-xs text-black shadow-sm"
                      (click)="deleteTechStack(item)"
                      aria-label="Remove"
                    >
                      <svg
                        class="w-3 h-3"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 14 14"
                      >
                        <path
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                        />
                      </svg>
                      <span class="sr-only">Remove badge</span>
                    </button>
                  </span>
                 } -->
                <div class="flex flex-wrap">
                  @for (item of techs; track $index) {
                  <div class="mb-2 mr-2">
                    <span class="inline-flex items-center">
                      <span
                        class="bg-white text-black text-xs font-bold leading-sm uppercase px-3 py-1 rounded-full border"
                      >
                        <span>{{ item }}</span>
                        <button
                          type="button"
                          class="inline-flex items-center p-1 ms-2 text-xs text-black shadow-sm -mx-1"
                          (click)="deleteTechStack(item)"
                          aria-label="Remove"
                        >
                          <svg
                            class="w-2 h-2"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 14 14"
                          >
                            <path
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                            />
                          </svg>
                          <span class="sr-only">Remove badge</span>
                        </button>
                      </span>
                    </span>
                  </div>
                  }
                </div>
              </div>
              <div class="text-error" [hidden]="maxTechStack">
                No se pueden añadir más de tres tecnologías
              </div>

              <label class="form-control w-full">
                <div class="label">
                  <span class="label-text">Descripción del curso</span>
                </div>
                <textarea
                  placeholder="Bio"
                  class="textarea textarea-bordered textarea-xs w-full max-w-full bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  name="description"
                  formControlName="description"
                ></textarea>
                <div
                  class="text-error"
                  [hidden]="
                    form.get('description')?.valid ||
                    form.get('description')?.pristine
                  "
                >
                  @if(form.get('description')?.errors?.["required"]) { La
                  descripción para el curso es obligatorio }
                </div>
              </label>
              <label class="form-control w-full pt-2">
                <input
                  type="file"
                  accept=".png,.jpg,.jpeg"
                  class="file-input file-input-bordered w-full max-w-xs"
                  (change)="uploadFile($event, 'coverPath')"
                />
              </label>

              <button
                class="w-full mt-2 text-white createbtn rounded p-3 transition hover:bg-opacity-90"
              >
                @if (courseExists) {
                {{ "Actualizar" }}
                } @else {
                {{ "Crear" }}
                }
              </button>
            </form>
            }
            <div></div>

            <div></div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <br />
  <br />
  <br />
  <br />
  <div class="btm-nav">
    <button routerLink="/tutor/courses">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
        />
      </svg>
    </button>
    <button class="active">
      <svg
        class="w-5 h-5 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 12h14m-7 7V5"
        />
      </svg>
    </button>
  </div>
</div>
