<div class="navbar bg-white py-2">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li class="font-bold">
          <a routerLink="{{ courses }}">Busca a tu profesor</a>
        </li>
        @if (user?.role == "TUTOR") {
        <li class="font-bold"><a routerLink="/tutor/chats">Mis chats</a></li>
        <li><a routerLink="/tutor/profile">Mi perfil (profesor)</a></li>
        <!---->
        } @if (user?.role == "STUDENT") {
        <li><a>Mi perfil (alumno)</a></li>
        <li><a routerLink="{{ chats }}">Mis chats</a></li>
        } @if (user) {
        <li>
          <a class="">Perfil</a>
        </li>
        }
        <li>
          <a (click)="logout()" class="">Cerrar sesión</a>
        </li>
      </ul>
    </div>
    <a
      href="./"
      class="btn bg-white border-white hover:bg-white hover:border-white shadow-none rounded-xl text-xl text-black gap-0"
    >
      <p class="mr-2">FirstClicks</p>
      <img src="assets/logo.png" alt="" width="35x" />
    </a>
  </div>
  <div class="navbar-center hidden lg:flex text-black">
    <ul class="menu menu-horizontal px-1 z-[1]">
      <li><a routerLink="{{ courses }}">Busca a tu profesor</a></li>
      @if (user?.role == "TUTOR") {
      <li><a routerLink="/tutor/profile">Mi perfil (profesor)</a></li>
      <li><a routerLink="/tutor/chats">Mis chats</a></li>
      <!---->
      } @if (user?.role == "STUDENT") {
      <li><a routerLink="/student/profile">Mi perfil (alumno)</a></li>
      <li><a routerLink="{{ chats }}">Mis chats</a></li>
      }
    </ul>
  </div>
  @if (user) {
  <div class="dropdown nav-button pr-12 navbar-end">
    <div tabindex="0" role="button">
      <div class="">
        <a
          class="btn rounded-full ml-20 bg-slate-100 border border-slate-100"
          tabindex="0"
          role="button"
        >
          {{ user.userName }}
          @if (user.role == "TUTOR") {
          <img
            alt="Foto de perfil"
            class="w-8 rounded-full"
            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
          />
          }
        </a>
      </div>
    </div>
    <ul
      tabindex="0"
      class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
    >
      <!-- Opción para cerrar sesión -->
      <li>
        <a (click)="logout()" class="">Cerrar sesión</a>
      </li>
    </ul>
  </div>

  } @else {
  <div id="nav-button" class="navbar-end pr-36 text-black">
    <a href="#modal1" class="">Inicia Sesión </a>
    <p class="px-3"></p>
    <a
      routerLink="{{ signup }}"
      routerLinkActive="router-link-active"
      class="btn signup border-none text-white rounded-full"
    >
      Regístrate
    </a>
  </div>
  }
</div>

<router-outlet />
