<section
  id="Projects"
  class="w-full mx-auto lg:w-full grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center lg:justify-start gap-y-8 gap-x-4 lg:gap-x-2 xl:gap-x-2 mt-10 mb-5"
>
  <!-- BUCLE -->
  @for (studentCourse of studentCourses; track studentCourse.id) {
  <a [routerLink]="['/student/adminEnroll/', studentCourse.id]">
    <div class="relative">
      <div class="flex justify-center max-w-sm">
        <div
          class="bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
        >
          <app-course-card
            [course]="studentCourse.courseEnrolled"
            [linkPath]="''"
          ></app-course-card>
        </div>
      </div>
    </div>
  </a>
  }
</section>
<!-- <div class="btm-nav">
  <button class="active">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
      />
    </svg>
  </button>
  <button routerLink="/student/adminEnroll">
    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
    </svg>
  </button>
</div> -->
